@model IEnumerable<FunctionFood.Models.Gallery>
@{
    ViewData["Title"] = "Giới thiệu - Functional Food";
}

<div class="heading">
    <h1>Về Chúng Tôi</h1>
    <p><a asp-action="HomeIndex" asp-controller="Home">Trang Chủ >></a> Giới Thiệu</p>
</div>

<section class="about">

    <div class="image">
        <img src="~/img/about.png" alt="">
    </div>

    <div class="content">
        <span>Chào Mừng Đến Với Cửa Hàng Thực Phẩm Chức Năng</span>
        <h3>Giải Pháp Dinh Dưỡng Toàn Diện Cho Sức Khỏe</h3>
        <p>Chúng tôi chuyên cung cấp các loại thực phẩm chức năng uy tín, đã được kiểm định chất lượng. Sản phẩm tại cửa hàng giúp hỗ trợ sức khỏe, tăng sức đề kháng và cải thiện chất lượng cuộc sống cho mọi đối tượng.</p>
        <p>Với cam kết “Sức khỏe khách hàng là ưu tiên hàng đầu”, chúng tôi mang đến sản phẩm chính hãng, giá cả hợp lý và dịch vụ tư vấn tận tình.</p>
        <a href="#" class="btn">Xem Thêm</a>
    </div>

</section>



